:root {
  --primary: #eb7d34;
  --secondary: #f5deb3;
  --tertiary: #505050;
  --quatrinary: #ffffff;
}

header {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-logo {
  color: #ffffff;
  font-size: 2.3rem;
  text-transform: uppercase;
  margin: 1rem;
}

.header-logo a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  list-style: none;
}

nav ul li {
  text-align: center;
  width: 200px;
  margin: 1rem;
}

.nav-links a {
  color: #ffffff;
  /* padding-right: 30px;
  padding-left: 30px; */
  margin-right: 30px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
}

.nav-links a:visited {
  color: #ffffff;
}

.nav-links a:hover {
  color: var(--tertiary);
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('assets/running.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.form-container {
  font-size: 20px;
  color: var(--quatrinary);
  padding: 30px;
  margin-left: 25px;
  width: 80%;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.3rem;
  margin: 0 0 0 5px;
  color: var(--quatrinary);
  padding-bottom: 3px;
}

.form-input {
  padding: 10px;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.log-title {
  margin-top: 50px;
}

.form-inline {
  /* margin-left: 50px; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.log-form-label {
  margin-right: 5px;
  font-size: 15px;
  font-weight: 700;
  color: var(--quatrinary);
}

.log-form-input {
  width: 125px;
  padding: 10px;
  margin-right: 15px;
  font-size: 15px;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 15px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn-log,
.view-btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 15px;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.view-btn {
  margin: 0px 10px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.third {
  border-color: var(--primary);
  color: #fff;
  box-shadow: 0 0 40px 40px var(--primary) inset, 0 0 0 0 var(--primary);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 var(--primary) inset, 0 0 10px 4px var(--primary);
}

.exercise-div-container {
  background-color: cornflowerblue;
  padding: 1rem;
  border-radius: 10px;
  border: solid;
  opacity: 0.7;
  width: 75%;
}

.exercise-div-container p {
  filter: drop-shadow(1px 1px black);
  font-weight: bold;
  font-size: 1.5rem;
}

.view-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  width: 100%;
  height: 2.5rem;
  color: var(--quatrinary);
  padding-top: 20px;
  /* margin: 0 auto; */
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: var(--tertiary);
}

@media (max-width: 1024px) {
  header {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0px;
  }

  .nav-links a {
    margin: 0px;
  }

  .form-inline input {
    margin: 10px 0;
  }

  .form-inline,
  .btn-log {
    flex-direction: column;
    align-items: flex-start;
  }

  .exercise-div-container {
    width: 100%;
    text-align: center;
    margin: -5px;
    padding: 0px;
  }
}

@media (max-width: 800px) {
  .header-logo {
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0px;
  }
}
